<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6"
               style="cursor: pointer;"
          (click)="goToPatientsListPage()"
          >
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <mat-icon>healing</mat-icon>
                      </div>
                      <p class="card-category">Total Patient</p>
                      <h3 class="card-title">{{totalPatients ? totalPatients : 0}}
<!--                          <small>GB</small>-->
                      </h3>
                  </div>
                  <div class="card-footer">
<!--                      <div class="stats">-->
<!--                          <i class="material-icons text-danger">warning</i>-->
<!--                          <a href="javascript:void(0)">Get More Space...</a>-->
<!--                      </div>-->
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6" 
               style="cursor: pointer;"
          (click)="goToActivePatientsListPage()"
          >
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <mat-icon>masks</mat-icon>
                      </div>
                      <p class="card-category">Active Patient</p>
                      <h3 class="card-title">{{totalActivePatients ? totalActivePatients : 0}}</h3>
                  </div>
                  <div class="card-footer">
<!--                      <div class="stats">-->
<!--                          <i class="material-icons">date_range</i> Last 24 Hours-->
<!--                      </div>-->
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6"
               style="cursor: pointer;"
               (click)="goToICUPatientsListPage()"
          >
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <mat-icon>bloodtype</mat-icon>
                      </div>
                      <p class="card-category">ICU Patient</p>
                      <h3 class="card-title">{{totalIcuPatient ? totalIcuPatient : 0}}</h3>
                  </div>
                  <div class="card-footer">
<!--                      <div class="stats">-->
<!--                          <i class="material-icons">update</i> Just Updated-->
<!--                      </div>-->
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6"
               style="cursor: pointer;"
               (click)="goToPatientStateListPage()"
          >
              <div class="card card-stats">
                  <div class="card-header card-header-icon card-header-icon">
                      <div class="card-icon">
                          <mat-icon>real_estate_agent</mat-icon>
                      </div>
                      <p class="card-category">Patient State History</p>
                      <h3 class="card-title">{{totalPatientStateHistory ? totalPatientStateHistory :0}}</h3>
                  </div>
                  <div class="card-footer">
                      <!--                      <div class="stats">-->
                      <!--                          <i class="material-icons">update</i> Just Updated-->
                      <!--                      </div>-->
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6"
               style="cursor: pointer;"
               (click)="goToICUStateListPage()"
          >
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <mat-icon>medication</mat-icon>
                      </div>
                      <p class="card-category">Total Icu State</p>
                      <h3 class="card-title">{{totalIcuState ? totalIcuState : 0}}</h3>
                  </div>
                  <div class="card-footer">
                      <!--                      <div class="stats">-->
                      <!--                          <i class="material-icons">update</i> Just Updated-->
                      <!--                      </div>-->
                  </div>
              </div>
          </div>
<!--          <div class="col-lg-4 col-md-6 col-sm-6">-->
<!--          <div class="card card-stats">-->
<!--              <div class="card-header card-header-info card-header-icon">-->
<!--                  <div class="card-icon">-->
<!--                      <mat-icon>local_pharmacy</mat-icon>-->
<!--                  </div>-->
<!--                  <p class="card-category">Total Icu State</p>-->
<!--                  <h3 class="card-title">{{totalIcuState}}</h3>-->
<!--              </div>-->
<!--              <div class="card-footer">-->
<!--                  &lt;!&ndash;                      <div class="stats">&ndash;&gt;-->
<!--                  &lt;!&ndash;                          <i class="material-icons">update</i> Just Updated&ndash;&gt;-->
<!--                  &lt;!&ndash;                      </div>&ndash;&gt;-->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->

      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily Admitted Patient</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today admitted.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-chart">
                  <div class="card-header card-header-danger">
                      <div class="ct-chart" id="completedTasksChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily Release Patient</h4>
                      <p class="card-category">
                      <span class="text-success"></span>&nbsp;</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> last update 1 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
